In [2]:
import numpy as np
import pandas as pd
%matplotlib inline

In [3]:
s = pd.Series(np.random.randn(5), index = ['a', 'b', 'c', 'd', 'e'])

In [4]:
s

a   -1.615497
b   -0.552696
c   -0.981266
d    0.834388
e    0.543203
dtype: float64

In [5]:
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [6]:
pd.Series(np.random.randn(5))

0    0.466129
1    0.291839
2   -0.727578
3   -0.199055
4   -0.016316
dtype: float64

In [7]:
d = {'b':1, 'a':0, 'c':2}

In [8]:
d

{'a': 0, 'b': 1, 'c': 2}

In [11]:
e= pd.Series(d)

In [12]:
type(e)

pandas.core.series.Series

In [13]:
s = pd.Series(np.random.randn(5), name = 'something')

In [14]:
s

0    0.183242
1   -0.154821
2    1.609787
3   -0.834091
4   -1.317318
Name: something, dtype: float64

In [15]:
s.name

'something'

In [16]:
d = {'one':pd.Series([1., 2., 3.], index = ['a','b','c']), 'two':pd.Series([1., 2., 3., 4.], index = ['a','b','c','d'])}

In [17]:
df = pd.DataFrame(d)

In [18]:
df

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [19]:
pd.DataFrame(d, index=['d','b','a'])

   one  two
d  NaN  4.0
b  2.0  2.0
a  1.0  1.0

In [20]:
pd.DataFrame(d, index = ['d','b','a'], columns = ['two', 'three'])

   two three
d  4.0   NaN
b  2.0   NaN
a  1.0   NaN

In [21]:
s = pd.Series([1,2,5,np.nan,6,8])

In [22]:
s

0    1.0
1    2.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [23]:
dates = pd.date_range('20130101', periods = 6)

In [24]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [25]:
df = pd.DataFrame(np.random.randn(6,4), index = dates, columns = list('ABCD'))

In [26]:
df

                   A         B         C         D
2013-01-01  1.527556  0.282744  1.433560 -1.259177
2013-01-02  0.225010 -1.215053  0.771732  1.826173
2013-01-03 -1.198016  0.194271  0.593182  1.580354
2013-01-04 -0.223054 -0.917261 -0.200296  1.430716
2013-01-05 -0.336694 -0.231049  0.857492  1.177553
2013-01-06  0.591037 -0.275396  1.675459  0.856911

In [27]:
df.head()

                   A         B         C         D
2013-01-01  1.527556  0.282744  1.433560 -1.259177
2013-01-02  0.225010 -1.215053  0.771732  1.826173
2013-01-03 -1.198016  0.194271  0.593182  1.580354
2013-01-04 -0.223054 -0.917261 -0.200296  1.430716
2013-01-05 -0.336694 -0.231049  0.857492  1.177553

In [28]:
df.tail(3)

                   A         B         C         D
2013-01-04 -0.223054 -0.917261 -0.200296  1.430716
2013-01-05 -0.336694 -0.231049  0.857492  1.177553
2013-01-06  0.591037 -0.275396  1.675459  0.856911

In [29]:
df.head(3)

                   A         B         C         D
2013-01-01  1.527556  0.282744  1.433560 -1.259177
2013-01-02  0.225010 -1.215053  0.771732  1.826173
2013-01-03 -1.198016  0.194271  0.593182  1.580354

In [30]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [31]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [32]:
df.values

array([[ 1.52755623,  0.28274399,  1.43355975, -1.25917702],
       [ 0.22500952, -1.21505318,  0.7717321 ,  1.82617319],
       [-1.19801605,  0.19427064,  0.59318157,  1.58035443],
       [-0.22305448, -0.91726125, -0.20029624,  1.43071599],
       [-0.33669369, -0.23104852,  0.85749236,  1.17755329],
       [ 0.59103696, -0.27539589,  1.67545889,  0.85691133]])

In [33]:
df.sort_index(axis=1, ascending = False)

                   D         C         B         A
2013-01-01 -1.259177  1.433560  0.282744  1.527556
2013-01-02  1.826173  0.771732 -1.215053  0.225010
2013-01-03  1.580354  0.593182  0.194271 -1.198016
2013-01-04  1.430716 -0.200296 -0.917261 -0.223054
2013-01-05  1.177553  0.857492 -0.231049 -0.336694
2013-01-06  0.856911  1.675459 -0.275396  0.591037

In [34]:
df.sort_values(by='B')

                   A         B         C         D
2013-01-02  0.225010 -1.215053  0.771732  1.826173
2013-01-04 -0.223054 -0.917261 -0.200296  1.430716
2013-01-06  0.591037 -0.275396  1.675459  0.856911
2013-01-05 -0.336694 -0.231049  0.857492  1.177553
2013-01-03 -1.198016  0.194271  0.593182  1.580354
2013-01-01  1.527556  0.282744  1.433560 -1.259177

In [35]:
df['A']

2013-01-01    1.527556
2013-01-02    0.225010
2013-01-03   -1.198016
2013-01-04   -0.223054
2013-01-05   -0.336694
2013-01-06    0.591037
Freq: D, Name: A, dtype: float64

In [36]:
df = pd.DataFrame({'AAA':[4, 5, 6, 7],'BBB':[10,20,30,40],'CCC':[100,50,-30,-50]})

In [37]:
df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [39]:
df.loc[df.AAA >=5, 'BBB'] = -1

In [40]:
df

   AAA  BBB  CCC
0    4   10  100
1    5   -1   50
2    6   -1  -30
3    7   -1  -50

In [41]:
df.loc[df.AAA >=5, ['BBB','CCC']] = 555

In [42]:
df

   AAA  BBB  CCC
0    4   10  100
1    5  555  555
2    6  555  555
3    7  555  555