In [2]:
import numpy as np
import pandas as pd
%matplotlib inline

In [3]:
s = pd.Series(np.random.randn(5), index = ['a', 'b', 'c', 'd', 'e'])

In [4]:
s

a   -1.615497
b   -0.552696
c   -0.981266
d    0.834388
e    0.543203
dtype: float64

In [5]:
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [6]:
pd.Series(np.random.randn(5))

0    0.466129
1    0.291839
2   -0.727578
3   -0.199055
4   -0.016316
dtype: float64

In [7]:
d = {'b':1, 'a':0, 'c':2}

In [8]:
d

{'a': 0, 'b': 1, 'c': 2}

In [11]:
e= pd.Series(d)

In [12]:
type(e)

pandas.core.series.Series

In [13]:
s = pd.Series(np.random.randn(5), name = 'something')

In [14]:
s

0    0.183242
1   -0.154821
2    1.609787
3   -0.834091
4   -1.317318
Name: something, dtype: float64

In [15]:
s.name

'something'

In [16]:
d = {'one':pd.Series([1., 2., 3.], index = ['a','b','c']), 'two':pd.Series([1., 2., 3., 4.], index = ['a','b','c','d'])}

In [17]:
df = pd.DataFrame(d)

In [18]:
df

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [19]:
pd.DataFrame(d, index=['d','b','a'])

   one  two
d  NaN  4.0
b  2.0  2.0
a  1.0  1.0

In [20]:
pd.DataFrame(d, index = ['d','b','a'], columns = ['two', 'three'])

   two three
d  4.0   NaN
b  2.0   NaN
a  1.0   NaN